<!DOCTYPE html>
<html>
    <head>
        <title>Pet Finder App</title>
    </head>
    
    <body>
        <h1>Welcome to Pet Finder!</h1>
        <div>
            <img src="/images/demo-image.jpg">   
        </div>
        <div>
            <h2>Label: <%=label%></h2>
        </div>
    </body>
</html>